.principal{
	background-image: url(../imagenes/foto1.png);
	height: 850px;
	padding:20px;
	font-family: arial;
}
section{
	text-align: inherit;
	margin-top:0px;
	padding-top: 20px;
	font-size: 40px;
	font-family: arial;
	letter-spacing: -3px;
}

.linea{
	width: 75%;
	height: 2px;
	background-color: white;
	
	margin-left: 20px;
}

section h1{
	color: rgba(194,50,51,100);
	margin:0px 0px 0px 0px;
	font-weight: bold;
	font-size: 89px;
	margin-bottom: -30px;
	letter-spacing: -8px;
	font-family: arial;
}
section h3{
	margin-top: 0px;
	font-weight: bold;
	font-size: 85px;
	color: white;
	letter-spacing:-6px;
	font-family: arial;
}
.desc{
	color: white;
	font-size:23px;
	font-weight: bold;
}
.desc h2{
	font-size: 23px;
}
.cont{
	color:white;
	font-size:18px;
}
.cont h2{
	font-weight:bold;
}
.cont p{
	margin-bottom:-10px;
	padding-right: 15px; 
}
.hash{
	color: rgba(194,50,51,100);
	font-size: 20px; 
}
.unete h1{
	color: white;
}
.box{
	border:solid 5px white;
}
.formu .datos{
	margin-bottom: 20px;
	background: rgba(0, 0, 0, 0);
	border: 2px solid #fff;
	color:#fff;
}
.datos::-webkit-input-placeholder {
   color: rgba(255, 255, 255, 0.6);
}
#btnmk{
	background: #E0030A;
    color: #fff;
    border: 0;
    width: 100%;
    height: 45px;
    margin: 20px 0 0 0;
}